{% extends 'navigationbar.html'%}
{% load static %}
{% block body %}
{% if error == "no" %}
    <script>
        alert('Doctor Added successfully');
            window.location = ('{% url 'view_doctor' %}')
    </script>
{% endif %}
    
{% if error == "yes" %}
    <script>
        alert('Invalid Login Credentials');
    </script>
    {% endif %}

    <div class="container">

        
    <h2 class="text-center">Add Doctor</h1>
        <form method="post">
            {% csrf_token %}
            
            <label>Doctor Name</label>
            <input type="text" class="form-control" name="dname">
            <label>Mobile Number</label>
            <input type="text" class="form-control" name="mobile">
            <label>Specialization</label>
            <input type="text" class="form-control" name="special"><br>
            
            <input type="submit" value="Submit" class="form-control btn btn-primary" >
    
        </form>
    
        
    </div>
{% endblock %}
