{% extends 'navigationbar.html'%}
{% load static %}
{% block body %}
{% if error == "no" %}
    <script>
        alert('Patient Added successfully');
            window.location = ('{% url 'view_patient' %}')
    </script>
{% endif %}
    
{% if error == "yes" %}
    <script>
        alert('Invalid Login Credentials');
    </script>
    {% endif %}

    <div class="container">

        
    <h2 class="text-center">Add Patient</h1>
        <form method="post" action="{% url 'update_patient' context.id %}">
            {% csrf_token %}
            
            <label>Patient Name</label>
            <input type="text" value={{context.pname}} class="form-control" name="pname">
            <label>Mobile Number</label>
            <input type="text" value={{context.mobile}}  class="form-control" name="mobile">
            <label>Address</label>
            <input type="text" value={{context.add}}  class="form-control" name="add"><br>
            
            <input type="submit"   value="Submit" class="form-control btn btn-primary" >
    
        </form>
    
        
    </div>

{% endblock %}
